<h1>New Tournament</h1>

<% if user_signed_in? %>
  <%= render 'form' %>
<% else %>
  <P>You need to sign in to create a tournament</p>
  <%= link_to "Sign in", new_user_session_path, :method => :get %>
<% end %>

